// @import '~/@angular/material/prebuild-themes/indigo-pink.css';
.tab__labels {
  color: #080201;
  text-align: center;
  font-weight: 600;
  font-size: large;
  letter-spacing: 2px;
  margin: 0;
}
table{
  width: 100%;
}
th{
  font-weight: bold;
  color: red;
  text-transform: uppercase;
  font-size: medium;
}
.container {
  width: 80vw;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
  width: 100%;
}
.mat_card {
  margin: 15px;
  padding: 26px;
  min-width: 150px;
  flex-grow: 1;
}

.image-box,
.actions-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    margin: 20px;
  }
}
