<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2 class="title">Santosh Mahto</h2>
    </div>
    <img
      src="https://avatars1.githubusercontent.com/u/29502453?s=400&u=48734c193a1ac3e755b0a2a1414782e6ad055e9a&v=4"
      alt="santosh"
      loading="lazy"
    />
  </div>

  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/blog">
    <mat-icon>import_contacts</mat-icon>
    Blog
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/first-interaction"
  >
    <mat-icon>import_contacts</mat-icon>
    First Interaction
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/members">
    <mat-icon>import_contacts</mat-icon>
    Member
  </a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Campus</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/gallery">
    <mat-icon>import_contacts</mat-icon>
    Gallery
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/activity">
    <mat-icon>import_contacts</mat-icon>
    Activity
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/events">
    <mat-icon>import_contacts</mat-icon>
    Events
  </a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/newsletters"
  >
    <mat-icon>contact_phone</mat-icon>
    Newsletters
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/notifications"
  >
    <mat-icon>contact_phone</mat-icon>
    Notifications
  </a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Supports</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/faq">
    <mat-icon>import_contacts</mat-icon>
    Faq's
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/docs">
    <mat-icon>contact_phone</mat-icon>
    Docs
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/help">
    <mat-icon>contact_phone</mat-icon>
    Help
  </a>
</mat-nav-list>
