<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2 class="title">Santosh Mahto</h2>
    </div>
    <img src="https://avatars1.githubusercontent.com/u/29502453?s=400&u=48734c193a1ac3e755b0a2a1414782e6ad055e9a&v=4" alt="santosh" loading="lazy">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile/santosh123">Profile</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/blog">Blog</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

</mat-nav-list>
