<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span> OOUG </span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <a mat-menu-item routerLink="/settings">
            <mat-icon>settings</mat-icon>
          </a>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/profile/santosh123">
              <mat-icon>person</mat-icon>
              Profile
            </a>
            <a mat-menu-item routerLink="/profile/santosh123/change-password">
              <mat-icon>security</mat-icon>
              Change password
            </a>
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
