.recent-activities {
  margin-top: 5rem;
  border: 1px solid #dadada;
  padding: 3%;
}

.all-activities {
  margin-top: 2rem;
}

.card {
  margin: 8px;
}
.add-activity {
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  padding: 10px 30px;
  background-color: #9c27b0;
  font-size: 18px;
  color: #fff;
}

//------------modal-----------------

.example-full-width {
  width: 100%;
}
.modal-title {
  margin: 0;
  padding: 0;
  color: white;
  font-size: large;
}
.upload-button {
  cursor: pointer;
  text-align: center;
  border-radius: 21.5px;
  padding: 4px 16px;
  background-color: #9c27b0;
  font-size: small;
  color: #fff;
}

.btn-submit-delete {
  border-radius: 21.5px;
  padding: 4px 16px;
  font-size: small;
}
.btn-submit {
  border-radius: 21.5px;
  padding: 4px 16px;
  background-color: #9c27b0;
  font-size: small;
}

//---------------------------------------------------

.box {
  background-color: rgb(160, 153, 153);
}
.cursor {
  cursor: pointer;
}
.modal-cross {
  border-radius: 50%;
  background-color: #9c27b0;
  color: white;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
}
.container {
  margin: 10px;
}

//-----------insert image--------------------------

input[type='file'] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: rgb(153, 153, 153);
}

.example-full-width {
  width: 100%;
}
