<a (click)="open(upload)">
  <div
    style="
      position: fixed;
      top: 85%;
      left: 93%;
      width: 60px;
      height: 60px;
      background-color: #4834df;
      z-index: 2;
      border-radius: 50%;
    "
  >
    <img src="assets/icons/plus-circle-solid.svg" height="100%" width="100%" />
  </div>
</a>
<h2 *ngIf="errorMsg">Server is not responding</h2>
<div class="head">
  <h1 style="margin: 10px"><strong>Welcome to Activity Page</strong></h1>
  <div style="margin: 10px">
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book.
  </div>
  <br />
  <br /><br />
  <div style="text-align: center">
    <button
      (click)="open(upload)"
      (click)="data_saved = false"
      class="btn btn-primary add-activity"
    >
      Add Activity
    </button>
  </div>
  <ng-template #upload let-modal>
    <div class="modal-header" style="background-color: darkgrey">
      <h5 class="modal-title" id="modal-basic-title">
        Insert Activity Details
      </h5>
      <button
        type="button"
        class="modal-cross"
        aria-label="Close"
        (click)="refresh()"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="background-color: darkgrey">
      {{ activityDetail.value | json }}
      <form [formGroup]="activityDetail" (ngSubmit)="addActivity()">
        <!---------------------image section---------------------->
        <div
          *ngIf="url === ''"
          style="height: 200px; text-align: center; padding-top: 10%"
        >
          <label for="file" style="color: white">
            <img
              src="assets/icons/file-upload-solid.svg"
              height="40%"
              width="40%"
            />
            <br />
            <strong>There is no file selected!</strong>
            <p>Select an image...</p>
            <small
              [class.d-none]="
                activityDetail.get('file').valid ||
                activityDetail.get('file').untouched
              "
              class="text-danger"
              >*Image is required!</small
            >
          </label>
        </div>
        <div *ngIf="url !== ''">
          <img src="{{ url }}" height="200px" width="100%" />
        </div>
        <br />
        <hr />
        <input type="file" id="file" (change)="onselect($event)" />
        <div *ngIf="url !== ''" style="text-align: center; margin-top: -30px">
          <label for="file" class="upload-button">change Image</label>
        </div>
        <!----------------------------------------------->

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Event Type</mat-label>
              <select formControlName="eventType" matNativeControl>
                <option></option>
                <option>workshop</option>
                <option>celebration</option>
                <option>techbhukkads</option>
              </select>
            </mat-form-field>
            <small
              [class.d-none]="
                activityDetail.get('eventType').valid ||
                activityDetail.get('eventType').untouched
              "
              class="text-danger"
              >*select a correct option</small
            >
            <mat-form-field class="example-full-width">
              <mat-label>Organized By</mat-label>
              <input
                formControlName="organizedBy"
                matInput
                placeholder="Organized By"
              />
            </mat-form-field>
            <small
              [class.d-none]="
                activityDetail.get('organizedBy').valid ||
                activityDetail.get('organizedBy').untouched
              "
              class="text-danger"
              >*who has organized the activity<br
            /></small>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Event On</mat-label>
              <input
                formControlName="eventOn"
                matInput
                placeholder="Event On"
              />
            </mat-form-field>
            <small
              [class.d-none]="
                activityDetail.get('eventOn').valid ||
                activityDetail.get('eventOn').untouched
              "
              class="text-danger"
              >*this field is required</small
            >
            <mat-form-field class="example-full-width">
              <mat-label>Organized At</mat-label>
              <input
                formControlName="organizedAt"
                matInput
                placeholder="Organized At"
              />
            </mat-form-field>
            <small
              [class.d-none]="
                activityDetail.get('organizedAt').valid ||
                activityDetail.get('organizedAt').untouched
              "
              class="text-danger"
              >*where it was organized</small
            >
            <mat-form-field class="example-full-width">
              <mat-label>date</mat-label>
              <input
                formControlName="date"
                type="date"
                matInput
                placeholder="date"
              />
            </mat-form-field>
            <small
              [class.d-none]="
                activityDetail.get('date').valid ||
                activityDetail.get('date').untouched
              "
              class="text-danger"
              >*Date is required!</small
            >
          </div>
        </div>

        <mat-form-field class="example-full-width">
          <mat-label>Event Detail</mat-label>
          <textarea
            formControlName="eventDetails"
            matInput
            rows="5"
            placeholder="Event Detail"
          ></textarea>
        </mat-form-field>
        <div *ngIf="data_saved === false">
          <input
            [class.d-none]="
              activityDetail.get('file').invalid ||
              activityDetail.get('eventType').invalid ||
              activityDetail.get('organizedBy').invalid ||
              activityDetail.get('eventOn').invalid ||
              activityDetail.get('organizedAt').invalid ||
              activityDetail.get('date').invalid
            "
            type="submit"
            value="Submit details"
            class="btn btn-primary btn-submit"
            [disabled]="!activityDetail.valid"
          />
        </div>
        <div *ngIf="data_saved === true">
          your data is saved successfully and it will be reflected after some
          time
        </div>
      </form>
    </div>
  </ng-template>
  <br />
</div>

<div class="recent-activities">
  <h1><strong style="margin-left: 10px">Recent Activities</strong></h1>
  <div class="row">
    <div class="col-lg-4 col-md-4" *ngFor="let event of updatedEvent">
      <a
        (click)="open(recent)"
        (click)="data_saved = false"
        (click)="recentactivity(event)"
      >
        <div class="card shadow rounded">
          <div class="row">
            <div class="col-6" style="height: 110px">
              <img
                src="{{ event.eventImage }}"
                alt="background"
                height="100%"
                width="100%"
              />
            </div>
            <div
              class="col-6"
              style="
                height: 110px;
                margin: 0;
                padding-left: 0;
                padding-top: 10px;
                padding-right: 15px;
              "
            >
              {{ event.eventDate }}<br />
              {{ event.eventOn }}<br />
              {{ event.organizedAt }}
            </div>
          </div>
        </div>
      </a>
      <ng-template #recent let-modal>
        <div class="modal-header" style="background-color: darkgrey">
          <h5 class="modal-title" id="modal-basic-title">Activity Details</h5>
          <button
            type="button"
            class="modal-cross"
            aria-label="Close"
            (click)="refresh()"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: darkgrey">
          <form [formGroup]="recentActivity">
            <!---------------------image section---------------------->
            <div *ngIf="url === ''">
              <img src="{{ event.eventImage }}" height="200px" width="100%" />
            </div>
            <div *ngIf="url !== ''">
              <img src="{{ url }}" height="200px" width="100%" />
            </div>
            <br />
            <hr />
            <input type="file" id="file" (change)="onselectrecent($event)" />
            <div style="text-align: center; margin-top: -35px">
              <label for="file" class="upload-button">change Image</label>
            </div>
            <br />
            <!----------------------------------------------->

            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Choose an option</mat-label>
                  <select matNativeControl formControlName="eventType">
                    <option
                      value="workshop"
                      [selected]="event.eventType === 'workshop'"
                    >
                      workshop
                    </option>
                    <option
                      value="celebration"
                      [selected]="event.eventType === 'celebration'"
                    >
                      celebration
                    </option>
                    <option
                      value="techbhukkads"
                      [selected]="event.eventType === 'techbhukkads'"
                    >
                      techbhukkads
                    </option>
                  </select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Event On</mat-label>
                  <input
                    formControlName="eventOn"
                    matInput
                    placeholder="Event On"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Organized By</mat-label>
                  <input
                    matInput
                    formControlName="organizedBy"
                    placeholder="Organized By"
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Organized At</mat-label>
                  <input
                    matInput
                    formControlName="organizedAt"
                    placeholder="Organized At"
                  />
                </mat-form-field>
              </div>
            </div>

            <mat-form-field class="example-full-width">
              <mat-label>Event Detail</mat-label>
              <textarea
                matInput
                rows="5"
                formControlName="eventDetails"
                placeholder="Event Detail"
              ></textarea>
            </mat-form-field>
            <div *ngIf="data_saved === false">
              <input
                type="submit"
                value="Delete"
                class="btn btn-danger btn-submit-delete"
                (click)="deleteActivity(event._id)"
              />
              <input
                type="submit"
                value="Update"
                class="btn btn-primary btn-submit"
                (click)="updateActivity()"
              />
            </div>
            <div *ngIf="data_saved === true">
              your data is saved successfully and it will be reflected after
              some time
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div class="all-activities">
  <div class="row">
    <div class="col-9">
      <h1><strong style="margin-left: 10px">Activities </strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4" *ngFor="let event of allEvents">
      <a
        (click)="open(allevent)"
        (click)="data_saved = false"
        (click)="recentactivity(event)"
      >
        <div class="card shadow rounded">
          <img
            src="{{ event.eventImage }}"
            alt="background"
            height="200px"
            width="100%"
          />
          <div style="text-align: center">
            {{ event.eventOn }} by {{ event.organizedBy }}<br />
            at {{ event.organizedAt }}
          </div>
        </div>
      </a>
      <ng-template #allevent let-modal>
        <div class="modal-header" style="background-color: darkgrey">
          <h5 class="modal-title" id="modal-basic-title">Activity Details</h5>
          <button
            type="button"
            class="modal-cross"
            aria-label="Close"
            (click)="refresh()"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: darkgrey">
          <form [formGroup]="recentActivity">
            <!---------------------image section---------------------->
            <div *ngIf="url === ''">
              <img src="{{ event.eventImage }}" height="200px" width="100%" />
            </div>
            <div *ngIf="url !== ''">
              <img src="{{ url }}" height="200px" width="100%" />
            </div>
            <br />
            <hr />
            <input type="file" id="file" (change)="onselectrecent($event)" />
            <div style="text-align: center; margin-top: -35px">
              <label for="file" class="upload-button">change Image</label>
            </div>
            <br />
            <!----------------------------------------------->

            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Choose an option</mat-label>
                  <select matNativeControl formControlName="eventType">
                    <option
                      value="workshop"
                      [selected]="event.eventType === 'workshop'"
                    >
                      workshop
                    </option>
                    <option
                      value="celebration"
                      [selected]="event.eventType === 'celebration'"
                    >
                      celebration
                    </option>
                    <option
                      value="techbhukkads"
                      [selected]="event.eventType === 'techbhukkads'"
                    >
                      techbhukkads
                    </option>
                  </select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Event On</mat-label>
                  <input
                    formControlName="eventOn"
                    matInput
                    placeholder="Event On"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Organized By</mat-label>
                  <input
                    matInput
                    formControlName="organizedBy"
                    placeholder="Organized By"
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Organized At</mat-label>
                  <input
                    matInput
                    formControlName="organizedAt"
                    placeholder="Organized At"
                  />
                </mat-form-field>
              </div>
            </div>

            <mat-form-field class="example-full-width">
              <mat-label>Event Detail</mat-label>
              <textarea
                matInput
                rows="5"
                formControlName="eventDetails"
                placeholder="Event Detail"
              ></textarea>
            </mat-form-field>
            <div *ngIf="data_saved === false">
              <input
                type="submit"
                value="Delete"
                class="btn btn-danger btn-submit-delete"
                (click)="deleteActivity(event._id)"
              />
              <input
                type="submit"
                value="Update"
                class="btn btn-primary btn-submit"
                (click)="updateActivity()"
              />
            </div>
            <div *ngIf="data_saved === true">
              your data is saved successfully and it will be reflected after
              some time
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>
